.card {
  background-color:  rgba(mediumaquamarine, 0.8);
  background-image:
    linear-gradient(to bottom right, lighten(rgba(aquamarine, 0.8), 5%),
    darken(rgba(aqua, 0.8), 45%));
  padding: .5rem 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.7), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 1rem;
  text-transform: capitalize;
  font-size: 2rem;
  color: #fff;
  text-decoration: none;

  h2 {
    margin-bottom: .5rem;
  }

  &:hover {
    background-color: darken(rgba(mediumaquamarine, 0.8), 10%);
    background-image:
      linear-gradient(to bottom right, lighten(rgba(aquamarine, 0.8), 5%),
        darken(rgba(aqua, 0.8), 85%));
    cursor: pointer;
    transform: scale(1.05);
  }
}

.pokemon-card__button {
  display: flex;
  justify-content: center;
  flex-direction: column;

  & > button {
    margin-bottom: .5rem;
  }
}
