<button style="margin: .5rem 3rem" class="btn btn-info" (click)="toggleView()">Toggle View</button>
<div class="pokemons-list" *ngIf="!textView">
  <div *ngFor="let pokemon of pokemons" class="pokemon-card">
    <app-pokemon-card (onChanged)="onChanged($event)" [pokemon]="pokemon"></app-pokemon-card>
  </div>
</div>

<div *ngIf="textView">
  <div *ngFor="let pokemon of pokemons" class="pokemon-text">
    <app-pokemon-text (onChanged)="onChanged($event)" [pokemon]="pokemon"></app-pokemon-text>
  </div>
</div>
