<div class="personal-page">
  <img
    class="personal-page__img"
    src="../../assets/pokemons/1.png"
    alt="Pokemon Name"
  />
  <div class="personal-page__content">
    <h5 class="card-title">Pokemon Name</h5>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur
      deleniti dignissimos ea eius eum libero magnam officiis omnis quod ratione
      recusandae reprehenderit similique temporibus tenetur, vitae. Consequuntur
      excepturi minus vitae?
    </p>
    <button type="button" class="btn btn-info">
      Catch
    </button>
  </div>
</div>
